<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Trip</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/unslider.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/headroom.css">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <header id="header" class="header header--fixed hide-from-print animated slideDown" role="banner">
            <div class="container">
                <nav id="nav" class="nav-wrapper" role="navigation">
                    <ul class="nav nav--main">
                        <li class="nav__item ">
                            <a class="header__link subdued" href="#">
                                <span class="icon icon--github" aria-hidden="true"></span>
                                <span class="complimentary push--left">登录</span>
                            </a>
                            <a class="header__link subdued" href="#">
                                <span class="icon icon--github" aria-hidden="true"></span>
                                <span class="complimentary push--left">注册</span>
                            </a>
                        </li>
                        <li class="nav__item "></li>
                    </ul>
                </nav>
                <a class="brand header__link" href="#">
                    <!--<img src="{{ STATIC_URL }}images/logo.png" />-->
                    <b class="brand__forename">huohuatrip</b>
                    <b class="brand__surname">.com</b>
                </a>
            </div>
        </header>
        <div style="overflow: hidden; width: 100%; height: 415px;top:40px;" class="banner has-dots">
            <ul style="width: 400%; position: relative; left: -300%; height: 415px;">
                <li style="background-image: url({{ STATIC_URL }}images/maerdaifu.jpg); width: 25%;">
                    <div class="inner">
                        <h1> 北京直飞往返马尔代夫机票含税贺岁价 </h1>
                        <p style="color:#A48D66;">2999元/人</p>

                        <!--<a class="btn" href="#get">拥有他</a>-->
                    </div>
                </li>

                <li style="background-image: url({{ STATIC_URL }}images/balidao.jpg); width: 25%;">
                    <div class="inner">
                        <h1>南纬8度巴厘岛4晚6天自由行（Club Med 高级房）</h1>
                        <p style="color:#A48D66;">7888元起</p>

                        <!--<a class="btn" href="#get">拥有他</a>-->
                    </div>
                </li>

                <li style="background-image: url({{ STATIC_URL }}images/yingguo.jpg); width: 25%;">
                    <div class="inner">
                        <h1>北京出发： 英国8日风情之旅</h1>
                        <p style="color:#A48D66;">14988元起</p>

                        <!--<a class="btn" href="#get">拥有他</a>-->
                    </div>
                </li>

                <li style="background-image: url({{ STATIC_URL }}images/fayirui.jpg); width: 25%;">
                    <div class="inner">
                        <h1>北京出发： 法意瑞10日之旅</h1>
                        <p style="color:#A48D66;">12588元起</p>

                        <!--<a class="btn" href="#get">拥有他</a>-->
                    </div>
                </li>
            </ul>
        </div>
        <div style="height:1000px;"></div>
        <script src="{{ STATIC_URL }}js/jquery.js"></script>
        <script src="{{ STATIC_URL }}js/unslider.js"></script>
        <script src="{{ STATIC_URL }}js/headroom.js"></script>
        <script>
            if(window.chrome) {
                $('.banner li').css('background-size', '100% 100%');
            }

            $('.banner').unslider({
                arrows: true,
                fluid: true,
                dots: true
            });
            (function() {
                var header = new Headroom(document.querySelector("#header"), {
                    tolerance: 5,
                    offset : 205,
                    classes: {
                        "initial": "animated",
                        "pinned": "bounceInDown",
                        "unpinned": "bounceOutUp"
                    }
                });
                header.init();
            }());
        </script>
</body></html>