{% extends 'base-v2.html' %}
{% load url from future %}

{% block content %}
<!--  contents-supplier  -->
<div class="contents-supplier container-fluid">
  <div class="supplier container">
    <div class="row">
      <div class="col-xs-12 col-md-4 supplierL">
        <div class="col-xs-12 col-md-12 topbox">
          <div class="photo text-center"><a href="#"><img src="/static/images/desktop/supplier/photo_1.jpg" width="250" height="253"></a></div>
          <h3 class="text-center">Compass Travel Club</h3>
          <div class="clubbox">
            <ul>
              <li><span>好评率</span><strong>97%</strong></li>
              <li><span>回复时间</span><strong>12个小时</strong></li>
              <li><span>使用语言</span><strong>汉语、英语</strong></li>
            </ul>
          </div>
          <div class="btn text-center">
            <input name="" type="button" class="text">
          </div>
        </div>
        <div class="col-xs-12 col-md-12 centerbox">
          <ul class="list-unstyled">
            <li><span class="one"><img src="/static/images/desktop/supplier/icon_g.jpg" width="25" height="19"></span><span class="two">保证金</span><span class="three">已交</span></li>
            <li><span class="one"><img src="/static/images/desktop/supplier/icon_g.jpg" width="25" height="19"></span><span class="two">电话号码</span><span class="three">已验证</span></li>
            <li><span class="one"><img src="/static/images/desktop/supplier/icon_g.jpg" width="25" height="19"></span><span class="two">资质证书</span><span class="three">已验证</span></li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-12 bottombox">
          <div class="samebox">
            <div class="left"><a href="#"><img src="/static/images/desktop/supplier/photo_2.jpg" width="74" height="74"></a></div>
            <div class="right">
              <div class="top">
                <div class="start text-left"><img src="/static/images/desktop/supplier/start1.jpg" width="13" height="13"><img src="/static/images/desktop/supplier/start1.jpg" width="13" height="13"><img src="/static/images/desktop/supplier/start1.jpg" width="13" height="13"><img src="/static/images/desktop/supplier/start1.jpg" width="13" height="13"><img src="/static/images/desktop/supplier/start2.jpg" width="13" height="13"></div>
                <div class="date"><strong>redlinex</strong><span>3/26/2014</span></div>
              </div>
              <p class="text-left">儿时每次听到飞机的声音都会不自觉的望向窗子，直到飞机飞出视线，还要听着越来越远的声音想象它飞向了哪里。那时之所以如此留意，可能是那个渐去声音代表了远方。现在长大，每每听到飞机声，虽不再望向天空，但却会心头一紧，因为这次渐远的声音，代表了家乡。</p>
            </div>
          </div>
          <div class="samebox">
            <div class="left"><a href="#"><img src="/static/images/desktop/supplier/photo_2.jpg" width="74" height="74"></a></div>
            <div class="right">
              <div class="top">
                <div class="start text-left"><img src="/static/images/desktop/supplier/start1.jpg" width="13" height="13"><img src="/static/images/desktop/supplier/start1.jpg" width="13" height="13"><img src="/static/images/desktop/supplier/start1.jpg" width="13" height="13"><img src="/static/images/desktop/supplier/start1.jpg" width="13" height="13"><img src="/static/images/desktop/supplier/start2.jpg" width="13" height="13"></div>
                <div class="date"><strong>redlinex</strong><span>3/26/2014</span></div>
              </div>
              <p class="text-left">儿时每次听到飞机的声音都会不自觉的望向窗子，直到飞机飞出视线，还要听着越来越远的声音想象它飞向了哪里。那时之所以如此留意，可能是那个渐去声音代表了远方。现在长大，每每听到飞机声，虽不再望向天空，但却会心头一紧，因为这次渐远的声音，代表了家乡。</p>
            </div>
          </div>
          <div class="samebox" style="border-bottom:0;">
            <div class="left"><a href="#"><img src="/static/images/desktop/supplier/photo_2.jpg" width="74" height="74"></a></div>
            <div class="right">
              <div class="top">
                <div class="start text-left"><img src="/static/images/desktop/supplier/start1.jpg" width="13" height="13"><img src="/static/images/desktop/supplier/start1.jpg" width="13" height="13"><img src="/static/images/desktop/supplier/start1.jpg" width="13" height="13"><img src="/static/images/desktop/supplier/start1.jpg" width="13" height="13"><img src="/static/images/desktop/supplier/start2.jpg" width="13" height="13"></div>
                <div class="date"><strong>redlinex</strong><span>3/26/2014</span></div>
              </div>
              <p class="text-left">儿时每次听到飞机的声音都会不自觉的望向窗子，直到飞机飞出视线，还要听着越来越远的声音想象它飞向了哪里。那时之所以如此留意，可能是那个渐去声音代表了远方。现在长大，每每听到飞机声，虽不再望向天空，但却会心头一紧，因为这次渐远的声音，代表了家乡。</p>
            </div>
          </div>
        </div>
      </div>
      <div class="supplierR col-xs-12 col-md-8">
        <div class="club">
          <h1>您好, 我是Compass Travel Club！</h1>
          <p class="pad">Taipei · 成为会员时间：十一月 2012</p>
          <p>I was born and raised in Taiwan and lived overseas for many years in London, NZ and 1 wonderful year in Thailand. I have been traveling in London and Williton and Bangkok and stayed with many amazing people and families. I love airbnb, and I hope you will enjoy the airbnb experience, too! </p>
          <p>I love the music, art, graphic design and paint, ocean, beach, surf and Taiwanese local food and fruits. </p>
          <p>I hope you have a chance to explore the amazing nature in Taiwan. I look forward to meeting you:) ciao!</p>
        </div>
        <div class="subnav">
          <div class="left">Compass Travel Club发布的产品</div>
          <!-- Modified by Goddy 使用 class="list-unstyled" 来设置无点无序列表 -->
          <div class="navL pull-right">
            <ul class="list-unstyled list-inline">
              <li><a href="#">推荐</a></li>
              <li><a href="#">人气</a></li>
              <li><a href="#">销量</a></li>
              <li><a href="#">信用</a></li>
              <li><a class="tj" href="#">最新</a></li>
              <li><a href="#">价格</a></li>
            </ul>
          </div>
          <!--<div class="navL">
            <ul>
              <li><a href="#">推荐</a></li>
              <li><a href="#">人气</a></li>
              <li><a href="#">销量</a></li>
              <li><a href="#">信用</a></li>
              <li class="tj"><a href="#">最新</a></li>
              <li><a href="#">价格</a></li>
            </ul>
          </div>--> 
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
              <a href="/product/1000/show/" class="frame"><span class="img-vertical-middler"></span><img src="/static/images/desktop/supplier/ly_P1.jpg" class="img-responsive" /> </a>
              <div class="caption">
                <h2 class="text-left"><a href="#"><strong>马尔代夫游艇1日</strong><span>海岛 游艇</span></a></h2>
                <div class="price"><strong>¥299</strong><span>每人</span></div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
              <a href="/product/1000/show/" class="frame"><span class="img-vertical-middler"></span><img src="/static/images/desktop/supplier/ly_P2.jpg" class="img-responsive img-rounded" /> </a>
              <div class="caption">
                <h2 class="text-left"><a href="#"><strong>马尔代夫游艇1日</strong><span>海岛 游艇</span></a></h2>
                <div class="price"><strong>¥299</strong><span>每人</span></div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
              <a href="/product/1000/show/" class="frame"><span class="img-vertical-middler"></span><img src="/static/images/desktop/supplier/ly_P1.jpg" class="img-responsive" /> </a>
              <div class="caption">
                <h2 class="text-left"><a href="#"><strong>马尔代夫游艇1日</strong><span>海岛 游艇</span></a></h2>
                <div class="price"><strong>¥299</strong><span>每人</span></div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="thumbnail">
              <a href="/product/1000/show/" class="frame"><span class="img-vertical-middler"></span><img src="/static/images/desktop/supplier/ly_P2.jpg" class="img-responsive" /> </a>
              <div class="caption">
                <h2 class="text-left"><a href="#"><strong>马尔代夫游艇1日</strong><span>海岛 游艇</span></a></h2>
                <div class="price"><strong>¥299</strong><span>每人</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


{% endblock %}
