<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>骑鹅旅行</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
    <script src="{{ STATIC_URL }}js/jquery.js" type="text/javascript"></script>
  </script> 
  </head>
  <body>
    <div style="margin-top:51px;"></div>
<div class="container" style="min-height:2200px;">
	<div id="mjs" class="tip"></div>
	<img id='img' src="{{ STATIC_URL }}images/Cheeers_product_info-01.png" style="width:1100px;height:1800px;" onmousemove="getMousePoint(event,'')" onclick="getMousePoint(event,'click')"/>
</div>
<script type="text/javascript"> 
//x=780,1062
//y=300,340
function getX(){  
		var obj = document.getElementById('img')
        var parObj=obj;    
        var left=obj.offsetLeft;    
        while(parObj=parObj.offsetParent){    
            left+=parObj.offsetLeft;    
        }    
        return left;    
    }    
    
    function getY(){ 
    	var obj = document.getElementById('img')
        var parObj=obj;    
        var top=obj.offsetTop;    
        while(parObj = parObj.offsetParent){    
            top+=parObj.offsetTop;    
        }    
     return top;    
}  
function getMousePoint(ev,type) {

    var x = y = 0,

        doc = document.documentElement,

        body = document.body;

    if(!ev) ev=window.event;

    if (window.pageYoffset) {//pageYoffset是Netscape特有

        x = window.pageXOffset;

        y = window.pageYOffset;

    }else{

        x = (doc && doc.scrollLeft || body && body.scrollLeft || 0) - (doc && doc.clientLeft || body && body.clientLeft || 0);

        y = (doc && doc.scrollTop  || body && body.scrollTop  || 0) - (doc && doc.clientTop  || body && body.clientTop  || 0);

    }

    x += ev.clientX - getX();

    y += ev.clientY - getY();
    if (780<=x&&x<=1010&&300<=y&&y<=340){
    	$("img").css("cursor","pointer") 
    	if(type == 'click'){
			window.location.href='/order/create?pid=1000'
		}
    }else{
    	$("img").css("cursor","") 
    }

}
</script>
    <script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script> 
    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script> 
    <div style="display:none;">
      <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5828818'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/stat.php%3Fid%3D5828818%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
  </body>
</html>