<!DOCTYPE html>
<html>
  <head>
  	 <meta charset="utf-8">
    <title>骑鹅旅行</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/cheeers-main-c.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
	</head>
	<body id="supplier">
        <!--  header -->
        <div class="header container">
            <div class="row">
                <div class="logo col-xs-16 col-md-11">
                    <p><a href="#"><img src="/static/images/desktop/logo3.jpg" width="135" height="50" /></a></p>
                </div>
                <div class="nav col-xs-2 col-md-1 text-right">
                    <ul class="list-inline">
                        <li><a href="#">注册</a></li>
                        <li><a href="#">登录</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--  contents-supplier  -->
		<div class="contents-supplier container-fluid">
			<div class="supplier container">
				<div class="row">
					<div class="supplierL col-xs-6 col-md-4 text-left">
                    	<div class="row">
                        	<div class="topbox col-xs-15 col-md-11">
                            	<div class="photo text-center"><a href="#"><img src="/static/images/desktop/photo_1.jpg" width="250" height="253"></a></div>
                                <h3 class="text-center">Compass Travel Club</h3>
                                <div class="clubbox">
                                    <ul>
                                        <li><span>好评率</span><strong>97%</strong></li>
                                        <li><span>回复时间</span><strong>12个小时</strong></li>
                                        <li><span>使用语言</span><strong>汉语、英语</strong></li>
                                    </ul>
                                </div>
                                <div class="btn text-center"><input name="" type="button" class="text"></div>
                            </div>
                        </div>
                    	<div class="row">
                        	<div class="centerbox col-xs-15 col-md-11">
                            	<ul>
                                	<li><span class="one"><img src="/static/images/desktop/icon_g.jpg" width="25" height="19"></span><span class="two">保证金</span><span class="three">已交</span></li>
                                    <li><span class="one"><img src="/static/images/desktop/icon_g.jpg" width="25" height="19"></span><span class="two">电话号码</span><span class="three">已验证</span></li>
                                    <li><span class="one"><img src="/static/images/desktop/icon_g.jpg" width="25" height="19"></span><span class="two">资质证书</span><span class="three">已验证</span></li>
                                </ul>	
                            </div>
                        </div>
                        <div class="row">
                        	<div class="bottombox col-xs-15 col-md-11">
                            	<div class="samebox">
                                	<div class="left"><a href="#"><img src="/static/images/desktop/photo_2.jpg" width="74" height="74"></a></div>
                                    <div class="right">
                                    	<div class="top">
                                        	<div class="start text-left"><img src="/static/images/desktop/start1.jpg" width="13" height="13"><img src="/static/images/desktop/start1.jpg" width="13" height="13"><img src="/static/images/desktop/start1.jpg" width="13" height="13"><img src="/static/images/desktop/start1.jpg" width="13" height="13"><img src="/static/images/desktop/start2.jpg" width="13" height="13"></div>
                                        	<div class="date"><strong>redlinex</strong><span>3/26/2014</span></div>
                                        </div>
                                        <p class="text-left">儿时每次听到飞机的声音都会不自觉的望向窗子，直到飞机飞出视线，还要听着越来越远的声音想象它飞向了哪里。那时之所以如此留意，可能是那个渐去声音代表了远方。现在长大，每每听到飞机声，虽不再望向天空，但却会心头一紧，因为这次渐远的声音，代表了家乡。</p>
                                    </div>
                                </div>
                                <div class="samebox">
                                	<div class="left"><a href="#"><img src="/static/images/desktop/photo_2.jpg" width="74" height="74"></a></div>
                                    <div class="right">
                                    	<div class="top">
                                        	<div class="start text-left"><img src="/static/images/desktop/start1.jpg" width="13" height="13"><img src="/static/images/desktop/start1.jpg" width="13" height="13"><img src="/static/images/desktop/start1.jpg" width="13" height="13"><img src="/static/images/desktop/start1.jpg" width="13" height="13"><img src="/static/images/desktop/start2.jpg" width="13" height="13"></div>
                                        	<div class="date"><strong>redlinex</strong><span>3/26/2014</span></div>
                                        </div>
                                        <p class="text-left">儿时每次听到飞机的声音都会不自觉的望向窗子，直到飞机飞出视线，还要听着越来越远的声音想象它飞向了哪里。那时之所以如此留意，可能是那个渐去声音代表了远方。现在长大，每每听到飞机声，虽不再望向天空，但却会心头一紧，因为这次渐远的声音，代表了家乡。</p>
                                    </div>
                                </div>
                                <div class="samebox" style="border-bottom:0;">
                                	<div class="left"><a href="#"><img src="/static/images/desktop/photo_2.jpg" width="74" height="74"></a></div>
                                    <div class="right">
                                    	<div class="top">
                                        	<div class="start text-left"><img src="/static/images/desktop/start1.jpg" width="13" height="13"><img src="/static/images/desktop/start1.jpg" width="13" height="13"><img src="/static/images/desktop/start1.jpg" width="13" height="13"><img src="/static/images/desktop/start1.jpg" width="13" height="13"><img src="/static/images/desktop/start2.jpg" width="13" height="13"></div>
                                        	<div class="date"><strong>redlinex</strong><span>3/26/2014</span></div>
                                        </div>
                                        <p class="text-left">儿时每次听到飞机的声音都会不自觉的望向窗子，直到飞机飞出视线，还要听着越来越远的声音想象它飞向了哪里。那时之所以如此留意，可能是那个渐去声音代表了远方。现在长大，每每听到飞机声，虽不再望向天空，但却会心头一紧，因为这次渐远的声音，代表了家乡。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="supplierR col-xs-12 col-md-8">
                    	<div class="club">
                        	<h1>您好, 我是Compass Travel Club！</h1>
                            <p class="pad">Taipei · 成为会员时间：十一月 2012</p>
                            <p>I was born and raised in Taiwan and lived overseas for many years in London, NZ and 1 wonderful year in Thailand. I have been traveling in London and Williton and Bangkok and stayed with many amazing people and families. I love airbnb, and I hope you will enjoy the airbnb experience, too! </p>
                            <p>I love the music, art, graphic design and paint, ocean, beach, surf and Taiwanese local food and fruits. </p>
                            <p>I hope you have a chance to explore the amazing nature in Taiwan. I look forward to meeting you:) ciao!</p>
                        </div>
                        <div class="subnav">
                        	<div class="left">Compass Travel Club发布的产品</div>
                            <div class="navL">
                                <ul>
                                    <li><a href="#">推荐</a></li>
                                    <li><a href="#">人气</a></li>
                                    <li><a href="#">销量</a></li>
                                    <li><a href="#">信用</a></li>
                                    <li class="tj"><a href="#">最新</a></li>
                                    <li><a href="#">价格</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="piclist">
                            <div class="piclft">
                                <div class="photo"><a href="/product/1000/show/"><img src="/static/images/desktop/ly_P1.jpg" width="284" height="200" /></a></div>
                                <div class="trip">
                                    <h2 class="text-left"><strong>马尔代夫游艇1日</strong><span>海岛 游艇</span></h2>
                                    <div class="price"><strong>¥299</strong><span>每人</span></div>
                                </div>
                            </div>
                            <div class="picrit">
                                <div class="photo"><a href="/product/1000/show/"><img src="/static/images/desktop/ly_P2.jpg" width="250" height="164" /></a></div>
                                <div class="trip">
                                    <h2 class="text-left"><strong>马尔代夫游艇1日</strong><span>海岛 游艇</span></h2>
                                    <div class="price"><strong>¥299</strong><span>每人</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="piclist">
                            <div class="piclft">
                                <div class="photo"><a href="/product/1000/show/"><img src="/static/images/desktop/ly_P1.jpg" width="284" height="200" /></a></div>
                                <div class="trip">
                                    <h2 class="text-left"><strong>马尔代夫游艇1日</strong><span>海岛 游艇</span></h2>
                                    <div class="price"><strong>¥299</strong><span>每人</span></div>
                                </div>
                            </div>
                            <div class="picrit">
                                <div class="photo"><a href="/product/1000/show/"><img src="/static/images/desktop/ly_P2.jpg" width="250" height="164" /></a></div>
                                <div class="trip">
                                    <h2 class="text-left"><strong>马尔代夫游艇1日</strong><span>海岛 游艇</span></h2>
                                    <div class="price"><strong>¥299</strong><span>每人</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="piclist">
                            <div class="piclft">
                                <div class="photo"><a href="/product/1000/show/"><img src="/static/images/desktop/ly_P1.jpg" width="284" height="200" /></a></div>
                                <div class="trip">
                                    <h2 class="text-left"><strong>马尔代夫游艇1日</strong><span>海岛 游艇</span></h2>
                                    <div class="price"><strong>¥299</strong><span>每人</span></div>
                                </div>
                            </div>
                            <div class="picrit">
                                <div class="photo"><a href="/product/1000/show/"><img src="/static/images/desktop/ly_P2.jpg" width="250" height="164" /></a></div>
                                <div class="trip">
                                    <h2 class="text-left"><strong>马尔代夫游艇1日</strong><span>海岛 游艇</span></h2>
                                    <div class="price"><strong>¥299</strong><span>每人</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="piclist">
                            <div class="piclft">
                                <div class="photo"><a href="/product/1000/show/"><img src="/static/images/desktop/ly_P1.jpg" width="284" height="200" /></a></div>
                                <div class="trip">
                                    <h2 class="text-left"><strong>马尔代夫游艇1日</strong><span>海岛 游艇</span></h2>
                                    <div class="price"><strong>¥299</strong><span>每人</span></div>
                                </div>
                            </div>
                            <div class="picrit">
                                <div class="photo"><a href="/product/1000/show/"><img src="/static/images/desktop/ly_P2.jpg" width="250" height="164" /></a></div>
                                <div class="trip">
                                    <h2 class="text-left"><strong>马尔代夫游艇1日</strong><span>海岛 游艇</span></h2>
                                    <div class="price"><strong>¥299</strong><span>每人</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="piclist">
                            <div class="piclft">
                                <div class="photo"><a href="/product/1000/show/"><img src="/static/images/desktop/ly_P1.jpg" width="284" height="200" /></a></div>
                                <div class="trip">
                                    <h2 class="text-left"><strong>马尔代夫游艇1日</strong><span>海岛 游艇</span></h2>
                                    <div class="price"><strong>¥299</strong><span>每人</span></div>
                                </div>
                            </div>
                            <div class="picrit">
                                <div class="photo"><a href="/product/1000/show/"><img src="/static/images/desktop/ly_P2.jpg" width="250" height="164" /></a></div>
                                <div class="trip">
                                    <h2 class="text-left"><strong>马尔代夫游艇1日</strong><span>海岛 游艇</span></h2>
                                    <div class="price"><strong>¥299</strong><span>每人</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
  </body>
</html>	