{% extends 'base-v2.html' %}
{% load url from future %}

{% block content %}
<section class="ucenter">
  <div class="container">
    <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li><a href="#">用户中心</a></li>
        <li><strong>确认订单</strong></li>
      </ul>
      <div class="page-header">
        <h1>确认订单</h1>
      </div>
      <h5 class="pull-left">确认收货地址</h5>
        <button type="button" class="btn btn-default btn-sm pull-right">管理收货地址</button>
      </div>
      <div class="col-xs-12 col-md-12">
        <div class="alert alert-warning">
          <label class="radio">
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            上海 上海市 卢湾区 南昌路195号三楼A (Goddy 收) 13800138000 <a href="#updateAddress" class="btn btn-default btn-xs pull-right" data-toggle="modal">修改此地址</a></label>
           </div>
        <div class="alert alert-info">
          <label class="radio">
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            <small>上海 上海市 静安区 昌化路282号（近康定路） (Emma 收) 13800138000</small></label>
        </div>
        <div class="alert alert-info">
          <label class="radio">
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            <small>北京 北京市 朝阳区 砖角楼南里22号楼1504室 (Goddy 收) 13800138000</small></label>
        </div>
      </div>
      <div class="col-xs-12 col-md-12">
        <table class="order-details-items table table-striped" id="cart-list">
          <thead>
            <tr>
              <th>商品</th>
              <th>商品属性</th>
              <th>单价（元）</th>
              <th>数量</th>
              <th>优惠</th>
              <th>商品总价（元）</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr class="order-item">
              <td><a href="#" class="order-item-thumb"><img src="/static/images/assets/pic_1.jpg" class="item-thumb"></a>
                <div class="order-item-desc"><a href="#">Jcrew/j crew 欧美男裝 纯棉短袖原单POLO BROKEN-IN POCKE</a></div></td>
              <td><span>颜色: 浅蓝色</span><span>尺码: 170/90(M)</span></td>
              <td>9999.00</td>
              <td><span class="cart-quantity-input">
                <input value="1" numlimit="999" numlowest="1">
                </span></td>
              <td>八折</td>
              <td><span class="text-error">9999999</span></td>
              <td><button class="btn btn-default btn-xs" type="button">删除</button>
                <button class="btn btn-default btn-xs" type="button">移入收藏夹</button></td>
            </tr>
            <tr class="order-item">
              <td><a href="#" class="order-item-thumb"><img src="/static/images/assets/pic_2.jpg"  class="item-thumb"></a>
                <div class="order-item-desc"><a href="#">Jcrew/j crew 欧美男裝 纯棉短袖原单POLO BROKEN-IN POCKE</a></div></td>
              <td><span>颜色: 浅蓝色</span><span>尺码: 170/90(M)</span></td>
              <td>9999.00</td>
              <td><span class="cart-quantity-input">
                <input value="1" numlimit="999" numlowest="1">
                </span></td>
              <td>八折</td>
              <td><span class="text-error">9999999</span></td>
              <td><button class="btn btn-default btn-xs" type="button">删除</button>
                <button class="btn btn-default btn-xs" type="button">移入收藏夹</button></td>
            </tr>
            <tr class="order-item">
              <td><a href="#" class="order-item-thumb"><img src="/static/images/assets/pic_3.jpg" class="item-thumb"></a>
                <div class="order-item-desc"><a href="#">Jcrew/j crew 欧美男裝 纯棉短袖原单POLO BROKEN-IN POCKE</a></div></td>
              <td><span>颜色: 浅蓝色</span><span>尺码: 170/90(M)</span></td>
              <td>9999.00</td>
              <td><span class="cart-quantity-input">
                <input value="1" numlimit="999" numlowest="1">
                </span></td>
              <td>八折</td>
              <td><span class="text-error">9999999</span></td>
              <td><button class="btn btn-default btn-xs" type="button">删除</button>
                <button class="btn btn-default btn-xs" type="button">移入收藏夹</button></td>
            </tr>
            <tr class="order-item">
              <td><a href="#" class="order-item-thumb"><img src="/static/images/assets/pic_4.jpg" class="item-thumb"></a>
                <div class="order-item-desc"><a href="#">Jcrew/j crew 欧美男裝 纯棉短袖原单POLO BROKEN-IN POCKE</a></div></td>
              <td><span>颜色: 浅蓝色</span><span>尺码: 170/90(M)</span></td>
              <td>9999.00</td>
              <td><span class="cart-quantity-input">
                <input value="1" numlimit="999" numlowest="1">
                </span></td>
              <td>八折</td>
              <td><span class="text-error">9999999</span></td>
              <td><button class="btn btn-default btn-xs" type="button">删除</button>
                <button class="btn btn-default btn-xs" type="button">移入收藏夹</button></td>
            </tr>
          </tbody>
        </table>
        <div class="col-xs-12 col-md-6">
          <h5>备注留言</h5>
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <ul class="list-unstyled pull-right">
          <li class="clearfix"><span class="pull-left">商品总价：</span><span class="pull-right">¥9999.99</span></li>
          <li class="clearfix"><span class="pull-left">促销优惠：</span><span class="pull-right">-¥45.00</span></li>
          <li>
            <div class="cart-price-all"><strong class="lead pull-left">实付款：</strong><strong class="lead text-danger pull-right">¥665.00</strong></div>
          </li>
          <li><a href="/order/1000/alipay" class="btn btn-primary pull-right">结　算</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
